@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --red:#E53835;
    --white:#FFFFFF;
    --D-Gray:#4D4D4D;
    --para:#717171;
    --bgcolor:#FFE6E5;
   --footertext: #F09D9B;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter';
}
.firstcontainer{
    margin: auto;
    width: 80%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.logo{  
    display: flex;
    gap: 1rem; 
    align-items: center;
}
.logo h1{
    font-size: 3rem;
    font-weight: 700;
    white-space: nowrap;
    color: var(--D-Gray);
}

.links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
ul{
    gap: 1.5rem;
    display: flex;   
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: var(--D-Gray);
    font-weight: 600;
    font-size: 2rem;
}
.nav_btn{
    background-color: var(--red);
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--red);
    padding: 1.2rem 1.8rem;
    color: var(--white);
}
.nav_btn p{
    font-weight: 600;
    font-size: 1.5rem;
}
.nav_btn .fa-arrow-right  {
color: white;
}


/* <!-- *****************************Section2*************************** --> */

.sect2{
    padding: 6rem 0;
    background: var(--bgcolor);
    
}
.heroSection{
    display: flex;
    padding: 10rem 0 ;
    justify-content: space-between;
    width: 100%;
}
.heroText{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.heroImg{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    width: 40%;
}
.heroImg img{
  object-fit: cover;
}
.heroText h1 {
    color: var(--D-Gray);
    font-size: 5.4rem;
    font-weight: 700;
    box-sizing: border-box;

}
.heroText p{
    font-size: 1.8rem;
    font-weight: 400;
    color:var(--para);
}
.hero_btn p{
    color: white;
}
.hero_btn{
    background-color:  #E53835;
    padding: 1.5rem 1.4rem;
    border: 1px solid red;
    border-radius:0.6rem;
    font-size: 20rem; 
    margin-top: 1.5rem;
}
/* <!-- *****************************Section3*************************** --> */
.section3{
    padding: 6rem 0;
    /* border: 3px solid rebeccapurple; */
}
.OurClients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.subHeading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.subHeading h1{
    font-size:4rem;
    font-weight: 600;
     color: var(--D-Gray);
    }
    .subHeading p{
        font-size: 2rem;
     font-weight: 400;
     color:var(--para);
    }
    .logoGroup{
        display: flex;
        justify-content: space-between; 
        width: 100%;
        padding: 1rem;
    }
    .logo1,.logo2,.logo3,.logo4,.logo5,.logo6,.logo7{
        width: 4rem;
        height: 4rem;
        display: flex; 
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    /* <!-- *****************************Section4*************************** --> */
    
    .subHeading2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }
    .subHeading2 h1{
        font-size: 4rem;
        font-weight: 600;
        color: var(--D-Gray);
        width: 60rem; 
        line-height: 1.2; 
    }
    .subHeading2 p{
        font-size: 2rem;
        font-weight: 400;
        color:var(--para);
        line-height: 1rem;
    }
.manage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cardbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1rem;
    border-radius: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 333px;
}
.card img{
    width: 7rem;
}
.card h1{
    color: var(--D-Gray);
    font-size: 3rem;
    font-weight: 700;
}
.card p{
    color: var(--para);
    font-size: 2rem;
    font-weight: 400;
}
/* <!-- *****************************Section5************************** --> */
.section5{
    margin: 5rem 0;
    display: flex;
    padding: 2rem 0;
}
.section5img{
    width: 40%;
}
.section5img img{
    height: 40rem;
    width: 37rem;
    object-fit: cover;
}
.section5Text{
    width: 60%;
}
.subHeading3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.subHeading3 h1{
    font-size: 4rem;
    font-weight: 600;
    color: var(--D-Gray);
}
.subHeading3 p{
    /* line-height: 2rem;  */
    font-size: 2rem;
    font-weight: 400;
    color:var(--para);
}
.btn_sec5{
    background-color: var(--red) ;
    color:var(--white);
    padding: 1.2rem 1rem;
    border: 1px solid red;
    border-radius:0.3rem;
    font-size: 2rem; 
    margin-top: 1.5rem;
}


/* <!-- *****************************Section6************************** --> */
.section6{
    background-color:var(--bgcolor) ;
    padding: 9rem 0;
}
.sec6Start{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sec6LeftSide h1{
    width: 44rem;
    color: var(--D-Gray);
    font-size: 4rem;
    font-weight: 700;
}
.sec6LeftSide p{
    color: var(--para);
    font-size: 2rem;
    font-weight: 400;
}
.sec6RightSide{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.firsrow{
    display: flex;
    gap: 8rem;
}
.firstrowb1,.firstrowb2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center ;
    gap: 1rem;
}

.firstRowb2_text h1,.sec9Start h1{
    color: var(--D-Gray);
    font-size: 3rem;
    font-weight: 700;
}
.firstRowb2_text p, .sec9Start p{
    color: var(--para);
    font-size: 2rem;
    font-weight: 400;
}

.secondrow{
    display: flex;
    gap: 8rem;
}
 
/* <!-- *****************************Section7************************** --> */

/* Same as a section 5  */


/* <!-- *****************************Section8************************** --> */
.section8{
    background-color:var(--bgcolor) ;
    padding: 1rem 0;
}
.sec8Start{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.sec8LeftSide {
    width: 30%;
    /* border: 2px solid rebeccapurple; */
}
.sec8RightSide{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1.6rem;
    /* border: 2px solid rgb(179, 173, 185); */
    padding: 6rem;

}
.sec8RightSidepera p,.headpara p{
    font-size: 2rem;
    font-weight: 400;
    color:var(--para);
    /* color:blue; */
}
.headpara{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.headpara h1{
    color: var(--red);   
}
.logoGroup2{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    padding: 1rem;
    white-space: nowrap;
}
.lasticon{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.lasticon h1, .fa-arrow-right{
    color: var(--red);
    font-size: 2rem;
}

/* <!-- *****************************Section9************************** --> */
.sec9Start{ 
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;  
    margin-bottom: 4rem;
}
.sec9Start p{
    color: var(--para);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    width: 53rem;
}
.album{
    display: flex;
    justify-content: space-between;
    border: 2px solid firebrick;
    
}
.albumBox img{
    position: relative;
}

.fa-arrow-right{
    color: var(--red);
}
.parentofmydiv{
    display: flex;
    /* width: 100%; */
    gap: 3rem;
    
}
.mydivforrealative{
    position: relative;
    /* flex-grow: 1; */
}
.mydivforrealative > img{
    width: 100%;
    
}

.myabs{
    position: absolute;
    width: 90%;
    padding: 10px 10px;
    bottom: -40px;
    left: 1.8rem;
    background-color: #F5F7FA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}
.myabs h2{
    color: var(--D-Gray);
}
.smalldiv{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    text-align: center;  
}
.smalldiv h3{
    color: var(--red);
    font-size: 1.5rem;
    
}

/* <!-- *****************************Section10************************** --> */

.sec10{
    background-color: var(--bgcolor);
}
.Pellentesque{
    padding: 6rem 21.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-self: center;
    gap: 2.5rem;
}
.Pellentesque h1{
    color: var(--D-Gray);
    font-size: 5.4rem;
    font-weight: 700;
    align-items: center;
}

.pell_btn{
    background-color: var(--red);
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--red);
    padding: 1.8rem 1.8rem;
    color: var(--white);
}
.pell_btn p{
    font-weight: 600;
    font-size: 1.8rem;
}
.pell_btn .fa-arrow-right {
    color: white;
}
/* <!-- *****************************Section11*************************** --> */
.sec11{
    padding: 8rem 0;
    background-color: var(--D-Gray);
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer1{
    display: flex;
    flex-direction: column;
    gap: 2rem;  
}
.footer1 p{
    width: 32rem;
    color: var(--footertext);
    font-size: 1.6rem;
}

.socialmedia{
    display: flex;
    gap: 2rem;
}
.socialmedia i{
    color: var(--white);
    font-size: 2rem;
    background-color: var(--para);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.footerPera{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footerPera p{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--footertext);
}
.inputDetail {
    display: flex;
    position: relative;
}

.inputDetail i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    font-size: 1.3rem;
}

.inputDetail input {
    color: white;
    background-color: var(--para);
    border-radius: 1rem;
    padding: 17px 50px 17px 13px;
    width: 100%;
    border: none;
    outline: none;
}

.inputDetail input::placeholder {
    color: var(--footertext);
}

.footer2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer2 h1 {
    color: var(--white);
    font-size: 3rem;
    font-weight: 600;
}
.footerleft{
    width: 40%;
}
.footerRight{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 6rem;
}




/* ***************CSS Responsive**************** */
  @media (max-width: 767px){ 
    .logo h1{
        font-size: 2.5rem;
    }
    .heroText h1{
        font-size: 2.4rem;
        padding-right: 0 !important;
    }
    .heroImg {
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100%;
    }
    nav, .links, ul, .logoGroup, .manage , .cardbox, .sec6Start, .sec8Start,
     .logoGroup2, .footerRight{
        flex-wrap: wrap;
        justify-content: center;   
    }
     .Pellentesque h1{
        justify-content: center; 
        font-size: 2.5rem !important;
    }
    .subHeading h1, .subHeading2 h1, .subHeading3 h1, .sec6LeftSide h1, .Pellentesque h1{
        justify-content: center; 
        font-size: 2.5rem;
    }
    .section5, .firsrow, .secondrow, .parentofmydiv, .footer{
        flex-direction: column;
    }
    .subHeading p, .subHeading2 p, .sec6LeftSide p, .sec9Start p, .footer1 p{
        font-size: 1.42rem;
    }
    .OurClients,.cardbox,.sec6Start, .firsrow, .secondrow {
        gap: 1rem;
    }
    .sec8Start{
        flex-direction: column;
        padding: 5rem 0;
    }
    .subHeading2 h1, .sec6LeftSide h1,.section5img{
        width: auto;
    }
    .card{
        padding: 1rem 0;
    }
    .section5img img{
        width: 20rem;
        height: 20rem;
    }
    .section5,.footer{
        align-items: center;
        text-align: center;
    }
    .Pellentesque {
        padding: 6rem 0.2rem;
    }
   .parentofmydiv{
    gap: 6rem;
   }
   .sec9Start p, .sec8RightSide,.sec8LeftSide,.section5Text{
    width:auto;
   }
   .footer1 p{
    width: auto;
    color: var(--footertext);
    font-size: 1.6rem;
 }
.sec8RightSide {
    padding: 0rem;
}
    nav{
        gap: 1rem;
    }
    .nav_btn{
        padding: 1rem;
    }
    .card h1 {
        font-size: 2.3rem;
    }
    .card p {
        font-size: 1.7rem;
    }
    .heroSection {
        gap: 2rem;
        align-items: center;
    }
    .socialmedia{
        justify-content: center;
    }
 }  
 @media (max-width: 991px){ 
     nav{
        padding: 1rem 0;
        justify-content: center;
    }
    .sect2 {
        padding: 4rem 0;
    }
    .nav_btn {
        padding:1rem;
    }
    /*.heroText h1 {  
        font-size: 5rem;
        padding-right: 10rem;
    }
    .heroText p {
        font-size: 1.5rem;
    }
    .subHeading h1, .subHeading2 h1,.sec6LeftSide h1,.subHeading3 h1,.sec9Start h1{
        font-size: 3.7rem;
    }
    .subHeading p, .card p, .subHeading3 p,.sec6LeftSide p,.firstRowb2_text p, .sec9Start p,.sec8RightSidepera p, .headpara p {
        font-size: 1.6rem;
    } */
    .Pellentesque h1{
    font-size: 5rem;
    }
    .pell_btn{
        padding: 1.3rem 1rem;
    }
    .OurClients{
        gap: 1rem;
    }
    .subHeading2 p {
        font-size: 1.6rem;
        line-height: normal;
    }
    .section6 {
        padding: 5rem 0;
    }
    .sec6LeftSide{
        display: flex;
        flex-direction: column;
        gap: 1rem
    }
    .btn_sec5{
        padding: 1rem .8rem;
    }

    .cardbox{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .section5, .sec8Start, .footer{
        flex-direction: column;
    }
    .sec6Start, nav, .footerRight{
        flex-wrap: wrap;
    }
    .nav_btn{
        white-space: nowrap;
    }
    .cardbox, .sec6Start{
        justify-content: center;
    }
    .section5, .footer{
        align-items: center;
        text-align: center;
        justify-content: center;;
    }
    .sec6Start{
        text-align: center;
    }
    .parentofmydiv {
        flex-wrap: wrap;
        justify-content: center;
        gap: 6rem;

    }
    .sec6Start, .footer  {
        gap: 3rem;
    }
    .section5img img{
        width: 20rem;
        height: 26rem;
    }
    .sec8RightSide, .section5Text, .footerleft{
        width: auto;
    }
    .sec8RightSide {
        padding: 0rem;
    }
    .sec8Start{
        padding-top: 5rem;
    }
  
   .card{
    width: 293px;
   }
   .card h1,.firstRowb2_text h1, .sec9Start h1,.footer2 h1 {
    font-size: 2.5rem;
   }
   .heroSection{    
    flex-direction: column;
    padding: 1rem 0;
    gap: 3rem;
    align-items: center;
}
    .heroText{
       width: 100%;

   }
   .Pellentesque{
   padding: 5rem 0.2rem;
}

.footerRight{
    width: auto;
    gap: 3rem;
}
 }
 @media (max-width: 1024px){
    li a{
        font-size: 1.75rem;;
    }
    .card{
        width: 26.5rem;
    }
    .Pellentesque {
        padding: 6rem 4.2rem;
 }
}
@media (max-width:1260){
.cardbox{
    background-color: cadetblue;
}
}